{% extends "base.html" %}

{% load static %}

{% block title %}
  Chats
{% endblock title %}

{% block link %}
{% endblock link %}

{% block content %}
    <div class="tile">
        <div class="tile-body">
            {% for chat in chats %}
                <div class="row">
                    <div class="content">
                        {{ chat.members.all }}
                        <a href="{% url "chat_detail" chat.pk %}" class="btn">Открыть чат</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
